/** Fonts */
@font-face {
  font-family: Pragmatica;
  src: url("/assets/fonts/Pragmatica-Bold.eot");
  src:
    url("/assets/fonts/Pragmatica-Bold.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/Pragmatica-Bold.woff2") format("woff2"),
    url("/assets/fonts/Pragmatica-Bold.woff") format("woff"),
    url("/assets/fonts/Pragmatica-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  text-rendering: optimizelegibility;
}

@font-face {
  font-family: Pragmatica;
  src: url("/assets/fonts/Pragmatica-Book.eot");
  src:
    url("/assets/fonts/Pragmatica-Book.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/Pragmatica-Book.woff2") format("woff2"),
    url("/assets/fonts/Pragmatica-Book.woff") format("woff"),
    url("/assets/fonts/Pragmatica-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizelegibility;
}

@mixin pragmatica-bold {
  font-family: Pragmatica, sans-serif;
  font-weight: bold;
  font-style: normal;
}

@mixin pragmatica-book {
  font-family: Pragmatica, sans-serif;
  font-weight: normal;
  font-style: normal;
}
