/** Fonts */
@font-face {
  font-family: PragmaticaNew;
  src: url("/assets/fonts/Pragmatica-Bold-new.eot");
  src:
    url("/assets/fonts/Pragmatica-Bold-new.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/Pragmatica-Bold-new.woff2") format("woff2"),
    url("/assets/fonts/Pragmatica-Bold-new.woff") format("woff"),
    url("/assets/fonts/Pragmatica-Bold-new.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  text-rendering: optimizelegibility;
}

@font-face {
  font-family: PragmaticaNew;
  src: url("/assets/fonts/Pragmatica-Book-new.eot");
  src:
    url("/assets/fonts/Pragmatica-Book-new.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/Pragmatica-Book-new.woff2") format("woff2"),
    url("/assets/fonts/Pragmatica-Book-new.woff") format("woff"),
    url("/assets/fonts/Pragmatica-Book-new.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizelegibility;
}

@mixin pragmatica-bold {
  font-family: PragmaticaNew, sans-serif;
  font-weight: bold;
  font-style: normal;
}

@mixin pragmatica-book {
  font-family: PragmaticaNew, sans-serif;
  font-weight: normal;
  font-style: normal;
}
