@use "../typography" as *;
@use "../breakpoints" as *;

/** Footer styles */
.main-footer {
  background-color: #000;
  color: #fff;
  padding-top: 65px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding-bottom: 65px;

  @media (min-width: $mobile-md) {
    gap: 10px;
  }

  @media (min-width: $laptop-sm) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.logo img {
  width: 156px;
  height: 43px;

  @media (min-width: $mobile-md) {
    width: 441px;
    height: 122px;
  }
}

.info {
  max-width: 160px;

  @media (min-width: $mobile-md) {
    max-width: unset;
  }
}

.info-contact {
  margin-left: 25px;

  .address {
    display: block;
    margin-top: 10px;
  }

  .contacts {
    display: flex;
    flex-direction: column;
    margin-top: 9px;
    gap: 9px;
  }
}

.subscribe h4 {
  @media (min-width: $mobile-md) {
    padding-left: 40px;
    text-align: right;
    float: right;
    text-wrap: wrap;
  }

  @media (min-width: $laptop-sm) {
    padding-left: 0;
  }
}

.subscribe-input {
  width: 100%;
  padding: 19px 16px;
  margin: 12px 0;

  &::placeholder {
    color: #767676;
  }

  &:focus-within {
    outline: #ddd;
    border-color: #ddd;
  }
}

.btn-subscribe {
  border: 5px solid #fff;
  padding: 7px 35px 7px 10px;

  @media (min-width: $mobile-md) {
    float: right;
    font-size: 23px;
    padding: 8px 100px 20px 12px;
  }
}

.policy ul {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.legal-info {
  @media (min-width: $mobile-md) {
    text-align: right;
  }

  @media (min-width: $laptop-sm) {
    margin-top: 60px;
  }
}

.legal-title {
  text-decoration: underline;
  font-size: 14px;
}

.footer-left-block,
.footer-right-block {
  display: contents;

  @media (min-width: $laptop-sm) {
    display: flex;
    flex-direction: column;
    gap: 35px;
  }
}

@media (min-width: $laptop-sm) {
  .footer-left-block {
    max-width: 290px;
  }

  .footer-right-block {
    max-width: 400px;
  }

  .policy {
    margin-top: 80px;
  }
}
